Image {
    height: 50%;
    width: 45%;
}

.label2 {
    width: 45%;
    color: black;
    background-color: white;
    margin-bottom: 80px;
    font-size: 16;
}

.shoe.par {
    margin-left: 6%;
    margin-right: 1%;
}

.shoe.impar {
    margin-left: 2%;
    margin-right: 2%;
}

WrapLayout {
    background-color: #f4f4f4;
}

Label{
    width: 100%;
    font-size: 30;
    text-align: center;
    padding-top: 20;
    padding-bottom: 20;
    background-color: #f4f4f4;
}