<ScrollView>
    <WrapLayout orientation="horizontal">
            <StackLayout *ngFor="let item of items; let i = index">
                <StackLayout orientation="vertical" class="item" [ngClass]="{'par':i%2==0, 'impar':i%2==1}">
                    <Image [src]="item.photos[0]" horizontalAlignment="center" stretch="aspectFill" [nsRouterLink]="['/item', item.id]"></Image>
                    <Label [text]="item.name + ' (' + item.colors + ')'" [nsRouterLink]="['/item', item.id]"></Label>
                </StackLayout>
            </StackLayout>
    </WrapLayout>
</ScrollView>