<ActionBar [title]="shoe.line + ' ' + shoe.name"></ActionBar>
<GridLayout rows="*, auto, auto">
        <Image row="0" class="main-photo" [src]="getCurrentPhoto()" stretch="aspectFit" height="100%" (swipe)="onSwipe($event)"></Image>
        <Label row="1" style="width:100%; height: 5px; background-color: white;" [text]=""></Label>
        <ScrollView row="2" orientation="horizontal">
                <StackLayout #footer orientation="horizontal" horizontalAlignment="center">
                        <ng-template ngFor let-i="index" let-photo [ngForOf]="shoe.photos">
                                <GridLayout columns="auto" rows="auto, auto" class="thumb-container" style="margin-left: 5px;">
                                        <Image row="0" col="0"
                                                class="thumb-photo"
                                                [src]="photo.file"
                                                (tap)="show(i)"
                                                stretch="aspectFill"
                                                height="{{hpx + 'px'}}"
                                                >
                                        </Image>
                                        <Label row="1" col="0"
                                                class="color-name"
                                                [text]="photo.name"
                                                style="text-align:center;font-size: 25px;background-color:transparent;">
                                        </Label>
                                </GridLayout>
                        </ng-template>
                </StackLayout>
        </ScrollView>
</GridLayout>
