<ActionBar [title]="shoe.line + ' ' + shoe.name"></ActionBar>
<GridLayout rows="*, auto">
        <Image row="0" class="main-photo" [src]="currentPhoto" stretch="aspectFit" height="100%" style="margin-top: 5px;margin-bottom: 5px;"></Image>
        <ScrollView row="1" orientation="horizontal">
                <StackLayout #footer orientation="horizontal">
                        <ng-template ngFor let-i="index" let-photo [ngForOf]="shoe.photos">
                                <GridLayout columns="auto" rows="auto, auto" class="thumb-container" style="margin-left: 5px;">
                                        <Image row="0" col="0"
                                                class="thumb-photo"
                                                [src]="photo.file"
                                                (tap)="show(photo.file)"
                                                stretch="aspectFill"
                                                height="{{hpx + 'px'}}"
                                                >
                                        </Image>
                                        <Label row="1" col="0"
                                                class="color-name"
                                                [text]="photo.name"
                                                style="text-align:center;font-size: 25px;background-color:transparent;">
                                        </Label>
                                </GridLayout>
                        </ng-template>
                </StackLayout>
        </ScrollView>
</GridLayout>
