<ActionBar title="Karen Klier"></ActionBar>
<StackLayout>
    <Label [text]="shoe.name"></Label>
    <Image class="main-photo" [src]="currentPhoto"></Image>
        <StackLayout orientation="horizontal">
                <Image 
                        *ngFor="let photo of shoe.photos"
                        [src]="photo"
                        (tap)="show(photo)"
                        [ngClass]="{'thumb-4':shoe.photos.length == 4, 'thumb-3':shoe.photos.length < 4}"></Image>
        </StackLayout>
</StackLayout>