Label {
    text-align: center;
    font-size: 30;
    color: blue;
    margin-top: 20;
}

.main-photo{
    width: 60%;
    height: 60%;
}

.thumb-3{
    width: 33%;
    height: 33%;
}

.thumb-4{
    width: 25%;
    height: 25%;
}